body {
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
.border_radius {
  border-radius: 9999px;
}
header,
main .about  {
  background-color: #EDE6DD;
}
header .wrapper,
main .about_wrapper,
main .how-it-works_wrapper,
main .app-view_wrapper,
main .app-carousel,
main .security,
main .review-wrapper,
main .companies-wrapper,
main .trials,
main .free-trial-wrapper,
footer {
  width: 1200px;
  margin: 0 auto;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}
header nav {
  padding-top: 44px;
}
header nav a{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #1E1928;
}
header nav a:nth-of-type(2),
header nav a:nth-of-type(4) {
  margin: 0 32px;
}
main {
  margin-bottom: 64px;
}
main .about_wrapper {
  padding: 80px 0 190px 0;
  position: relative;
}
main .about h1 {
  width: 408px;
  margin-bottom: 24px;

  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;

  color: #1E1928;
}
main .about_wrapper p {
  width: 550px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;

  color: rgba(30, 25, 40, 0.8);
}
main .about_wrapper p:nth-of-type(2) {
  margin-bottom: 32px;
}
main .about_wrapper form {
  margin-bottom: 96px;
}
main .about_wrapper form label {
  display: inline-block;
  margin-bottom: 24px;

  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;

  letter-spacing: 0.252px;

  color: #1E1928;
}
main .about_wrapper form .input_wrapper,
main .free-trial form .input_wrapper {
  width: 448px;
  height: 56px;
  background: #FFFFFF;

  display: flex;
  justify-content: space-around;
}
#phone_number {
  border: none;
  margin-left: 20px;
}
main .about_wrapper form .button,
main .free-trial form .button,
footer .social-media .button {
  cursor: pointer;

  width: 179px;
  height: 40px;
  margin-top: 8px;
  margin-left: 25px;
  border: none;
  background-color: #1E1928;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #F4EFE9;
}
main .img_family,
main .img_trees {
  position: absolute;
}
main .img_family {
  top: 153px;
  left: 668px;
}
main .img_trees {
  top: 368px;
  right: 8px;
  z-index: 1;
}
main .learn-more {
  position: relative;
  width:1200px;
  height:300px;
  margin: -190px auto 0 auto;
  padding-top: 80px;
  background: #FFFFFF;
  border-radius: 8px;
  z-index: 2;
}
main .learn-more h2,
main .security h2 {
  margin-bottom: 28px;

  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  text-align: center;

  color: #1E1928;
}
main .learn-more p,
main .security p {
  width: 653px;
  margin: 0 auto 20px auto;
  
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  text-align: center;
  letter-spacing: 0.252px;

  color: rgba(30, 25, 40, 0.8);
}
main .learn-more a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 142px;
  height: 40px;
  border: 1px solid #1E1928;
  box-sizing: border-box;
  color: #1E1928;
}
main .how-it-works {
  overflow: hidden;
  background-color: #FFD394;
  margin-top: -190px;
  padding-top: 190px;
}
main .how-it-works_wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
main .how-it-works_wrapper h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #1E1928;
}
main .how-it-works_wrapper .list {
  width: 600px;
  height: 350px;
  margin-bottom: 80px;
}
main .how-it-works_wrapper .how-it-works_img {
  position: absolute;
  top: 200px;
  left: -120px;
}
main .how-it-works_wrapper ol {
  padding-left: 60px;
  padding-right: 38px;
}
main .how-it-works_wrapper li {
  margin-bottom: 40px;
  position: relative;
}
main .how-it-works_wrapper li img {
  position: absolute;
  left: -60px;
  top: -7px;
}
main .how-it-works_wrapper li h3 {
  font-family: 'Inter', sans-serif;

  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.252px;

  color: #1E1928;
}
main .how-it-works_wrapper li p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.176px;

  color: rgba(30, 25, 40, 0.8);
}
main .app-view {
  background: #F4EFE9;
  padding-bottom: 158px;
}
main .app-view_wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 144px;
}
main .app-flex {
  display: flex;
  text-align: right;
}
main .flex-reverse {
  text-align: left;
  flex-direction: row-reverse;
}
main .app-text, 
main .app-image {
  width: 600px;
}
main .app-text {
  padding-top: 207px;
}
main .app-image {
  position: relative;
}
main .app-text h2 {
  margin-bottom: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #1E1928;
}
main .app-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
  color: rgba(30, 25, 40, 0.8);
}
main .app-screen {
  position: absolute;
}
main .app-flex:nth-of-type(1) .app-screen {
  left: 195px;
  top: 95px;
}
main .app-flex:nth-of-type(2) .app-screen {
  left: 26px;
  top: 50px;
}
main .app-flex:nth-of-type(3) .app-screen {
  left: 190px;
  top: 95px;
}
main .app-flex:nth-of-type(4) .app-screen {
  left: 190px;
  top: 95px;
}
main .app-flex:nth-of-type(5) .app-screen {
  left: 220px;
  top: 210px;
}
main .app-carousel {
  padding-bottom: 144px;
}
main .app-carousel h4 {
  margin-bottom: 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.252px;
  color: #1E1928;
}
main .app-carousel .carousel-wrapper {
  width: 960px;
  margin: 0 auto;
}
main .carousel {
  overflow: hidden;
}
main .carousel-track {
  margin-bottom: 80px;
  display: flex;
  transition: 0.3s;
}
main .carousel-track .carousel-item {
  position: relative;
  height: 160px;
  background: #FFFFFF;
  border-radius: 8px;
}
main .carousel-track .carousel-item:nth-last-of-type(1) {
  margin-right: 0;
}
main .carousel-item img {
  position: absolute;
  top: 12px;
  left: 28px;
}
main .carousel-item p {
  padding-top: 112px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #1E1928;
}
main .carousel .carousel-buttons {
  text-align: center;
}
main .carousel-buttons button {
  height: 40px;
  padding: 0 33px;

  background-color: #FFFFFF;
  border: 1px solid #1E1928;
  box-sizing: border-box;
  border-radius: 9999px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #1E1928;
}
main .carousel-buttons button:disabled {
  color: lightgray;
  border-color: lightgrey;
}
main .security {
  position: relative;
  height:236px;
  margin: -158px auto 0 auto;
  padding-top: 80px;
  background: #FFFFFF;
  border-radius: 8px;
  z-index: 2;
}
main .security p {
  margin: 0 auto 80px auto;
}
main .review {
  background: #592141;
  margin-top: -158px;
  padding-bottom: 184px;
  padding-top: 158px;
}
main .review-wrapper {
  text-align: center;
  padding-top: 144px;
}
main .review-wrapper p {
  margin: 0 auto;
}
main .review-wrapper p:nth-of-type(1){
  margin-bottom: 64px;
}
main .review-wrapper p:nth-of-type(1),
main .review-wrapper p:nth-of-type(3) {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
  
  color: #F4EFE9;
}
main .review-wrapper p:nth-of-type(2) {
  width: 828px;
  margin-bottom: 32px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #F4EFE9;
}
main .companies {
  padding-top: 144px;
  padding-bottom: 120px;
  background: #EDE6DD;
}
main .companies h3 {
  margin-bottom: 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 42px;
  text-align: center;
  color: #1E1928;
}
main .companies-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}
main .companies-wrapper .company {
  width: 288px;
  height: 144px;
  background: rgba(30, 25, 40, 0.08);
  border-radius: 8px;
}
main .company img {
  margin: 24px 29px;
}
main .trials {
  position: relative;
  margin: -120px auto 0 auto;
  padding: 80px 32px;
  padding-bottom: 80px;
  background: #FFFFFF;
  border-radius: 8px;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
main .trial:nth-of-type(1) {
  border-right: 1px rgba(30, 25, 40, 0.16);
}
main .trial h3 {
  margin: 0 165px 16px 165px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  color: #1E1928;
}
main .trial p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.084px;
  color: rgba(30, 25, 40, 0.64);
}
main .free-trial {
  background: #1E1928;
  padding-top: 267px;
  padding-bottom: 137px;
  margin-top: -120px;
}
main .free-trial-wrapper p {
  text-align: center;
}
main .free-trial-wrapper p:nth-of-type(1) {
  margin-bottom: 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.252px;
  color: #FFFFFF;
}
main .free-trial-wrapper form {
  width: 434px;
  margin: 0 auto 23px auto;
}
main .free-trial-wrapper p:nth-of-type(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #EDE6DD;
}
footer {
  position: relative;
  padding-bottom: 64px;
}
footer .nav-company,
footer .nav-resourse,
footer .social-media {
  display: inline-block;
  position: absolute;
  top: -415px;
}
footer .nav-resourse {
  left: 290px;
}
footer .nav-company a,
footer .nav-resourse a {
  display: block;
}
footer .nav-company p,
footer .nav-company a,
footer .nav-resourse p,
footer .nav-resourse a {
  margin-bottom: 16px;
}
footer .nav-company p,
footer .nav-resourse p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.252px;
  color: #1E1928;
}
footer .nav-company a,
footer .nav-resourse a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(30, 25, 40, 0.8);
}
footer .social-media {
  left: 680px;
}
footer .social-media a {
  margin-left: 16px;
}
footer .social-media a.button {
  position: relative;
  top: -13px;
  padding: 12px 32px;
}
footer .downloads {
  margin-top: 482px;
  margin-bottom: 16px;
}
footer .downloads p {
  width: 660px;
  margin-right: 274px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.084px;
  color: rgba(30, 25, 40, 0.64);
}
footer .downloads a:nth-last-of-type(1) {
  margin-left: 16px;
}
footer .copyright p {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: rgba(30, 25, 40, 0.64);
}
footer .copyright span {
  float:right;
  font-weight: normal;
}

@media all and (max-width: 1300px) 
{
  header .wrapper,
  main .about_wrapper,
  main .how-it-works_wrapper,
  main .app-view_wrapper,
  main .app-carousel,
  main .security,
  main .review-wrapper,
  main .companies-wrapper,
  main .trials,
  main .free-trial-wrapper,
  footer {
    width: 960px;
  }
  main .about_wrapper p {
    width: 488px;
  }
  main .img_family {
    left: 470px;
  }
  main .img_trees {
    right: 20px;
  }
  main .learn-more {
    width: 960px;
  }
  main .companies-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .companies-wrapper .company {
    margin-bottom: 30px;
  }
  main .trials {
    margin: -162px auto 0 auto;
    padding: 80px 0px;
  }
  footer .nav-resourse {
    left: 220px;
  }
  footer .social-media {
    left: 440px;
  }
  footer .downloads p {
    width: 538px;
    margin-right: 157px;
  }
}

@media all and (max-width: 1000px) 
{
  header .wrapper,
  main .about_wrapper,
  main .how-it-works_wrapper,
  main .app-view_wrapper,
  main .app-carousel,
  main .security,
  main .review-wrapper,
  main .companies-wrapper,
  main .trials,
  main .free-trial-wrapper,
  footer {
    width: 320px;
  }
  header .wrapper {
    flex-wrap: wrap;
  }
  header nav {
    padding-top: 0;
  }
  header nav a:nth-of-type(2), header nav a:nth-of-type(4) {
    margin: 0 28px;
  }
  main .about_wrapper {
    padding: 60px 0 510px 0;
  }
  main .about h1,
  main .about_wrapper p {
    width: 320px;
  }
  main .about_wrapper form .input_wrapper, main .free-trial form .input_wrapper {
    width: 320px;
  }
  main .about_wrapper form .button, main .free-trial form .button, footer .social-media .button {
    width: 130px;
    margin-left: -50px;
  }
  #phone_number {
    margin-left: 10px;
  }
  main .img_family {
    left: -45px;
    top: 572px;
  }
  main .img_trees {
    right: 0px;
    top: 765px;
  }
  main .learn-more {
    width: 470px;
    height: 390px;
    padding-top: 60px;
  }
  main .learn-more p, main .security p {
    width: 320px;
  }
  main .how-it-works {
    margin-top: -260px;
    padding-top: 260px;
  }
  main .how-it-works_wrapper .list {
    height: auto;
  }
  main .how-it-works_wrapper .how-it-works_img {
    top: 610px;
    left: -200px;
  }
  main .app-view {
    overflow: hidden;
  }
  main .app-flex {
    display: block;
    text-align: left;
  }
  main .app-text {
    padding-top: 100px;
    margin-bottom: 60px;
  }
  main .app-text, main .app-image {
    width: auto;
  }
  main .app-image img:nth-of-type(1) {
    position: relative;
    left: -140px;
  }
  main .app-flex:nth-of-type(1) .app-screen {
    left: 55px;
  }
  main .app-flex:nth-of-type(2) .app-screen {
    left: -114px;
  }
  main .app-flex:nth-of-type(3) .app-screen {
    left: 48px;
  }
  main .app-flex:nth-of-type(4) .app-screen {
    left: 48px;
  }
  main .app-flex:nth-of-type(5) .app-screen {
    left: 78px;
  }
  main .app-view_wrapper {
    margin-bottom: 0px;
  }
  main .app-carousel .carousel-wrapper {
    width: 320px;
  }
  main .carousel-item img {
   left: 107px;
  }
  main .carousel-track,
  main .app-carousel h4 {
    margin-bottom: 60px;
  }
  main .app-carousel {
    padding-bottom: 80px;
  }
  main .security {
    width: 470px;
    height: 360px;
    padding-top: 60px;
  }
  main .review {
    margin-top: -262px;
    padding-top: 190px;
    padding-bottom: 75px;
  }
  main .review-wrapper p:nth-of-type(2) {
    width: auto;
  }
  main .companies {
    padding-top: 80px;
  }
  main .trials {
    width: 470px;
    display: block;
    padding: 60px 0px;
  }
  main .trial {
    width: 320px;
    margin: 0 auto 30px auto;
  }
  main .trial h3 {
    margin: auto;
  }
  main .free-trial {
    margin-top: -170px;
  }
  footer .nav-company, 
  footer .nav-resourse {
    top: -490px;
  }
  footer .nav-resourse {
    left: 190px;
  }
  footer .social-media {
    left: 60px;
    top: -120px;
  }
  footer .social-media a.button {
    left: 24px;
  }
  footer .social-media a:not(.button) {
    position: relative;
    top: 30px;
    left: -24px;
  }
  footer .downloads {
    margin-top: 550px;
  }
  footer .downloads p {
    width: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  footer .downloads a {
    margin-left: 14px;
  }
  footer .copyright span {
    margin-top: 30px;
  }
}

@media all and (max-width: 565px) {
  body {
    overflow-x: hidden;
  }
  main .learn-more,
  main .security,
  main .trials {
    width: 340px;
  }
}
@media all and (max-width: 360px) {
  main .learn-more,
  main .security,
  main .trials {
    width: 320px;
  }
}